* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  body {
    transform: scale(1.2);
    transform-origin: top center;
  }

  html, body {
    width: 100%;
    overflow-x: hidden;
  }
}

body {
  background-color: #fdfaf6;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.image-wrapper {
  position: relative;
  max-width: 825px;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

img {
  width: 100%;     /* Image will take up full width of the wrapper */
  height: auto;
  display: block;
  pointer-events: none;
  user-select: none;
  object-fit: contain;
}

.submit-link {
  position: absolute;
  bottom: 3%; /* % relative to image-wrapper height */
  left: 50%;
  transform: translateX(-50%);
  width: 40%;  /* Responsive width */
  aspect-ratio: 2 / 1; /* Keeps the height proportional */
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s ease;
}
